aiohttp==3.6.2
altgraph==0.17
appdirs==1.4.3
asgiref==3.2.7
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
autopep8==1.5.3
beautifulsoup4==4.8.2
cached-property==1.5.2
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
decorator==4.4.2
discord.py==1.3.1
distlib==0.3.0
Django==3.0.5
django-autoslug==1.9.7
django-cors-headers==3.4.0
django-filter==2.3.0
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
entrypoints==0.3
et-xmlfile==1.0.1
Faker==4.1.1
filelock==3.0.12
flake8==3.8.3
future==0.18.2
gunicorn==20.0.4
idna==2.9
IMAPClient==2.1.0
importlib-metadata==1.6.0
isort==4.3.21
jdcal==1.4.1
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
more-itertools==8.2.0
MouseInfo==0.1.3
multidict==4.7.4
openpyxl==3.0.3
packaging==20.3
pefile==2019.4.18
Pillow==7.1.1
pluggy==0.13.1
psycopg2-binary==2.8.6
py==1.8.1
PyAutoGUI==0.9.48
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
PyGetWindow==0.0.8
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.5.3
pylint-django==2.0.15
pylint-plugin-utils==0.6
PyMsgBox==1.0.7
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.7.0
PyRect==0.1.4
PyScreeze==0.1.26
PySocks==1.7.1
pytest==5.4.1
pytest-django==3.9.0
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.13.0
python-telegram-bot==12.7
PyTweening==1.0.3
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.23.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.14.0
somepackage==1.2.3
sorl-thumbnail==12.6.3
soupsieve==1.9.5
sqlparse==0.3.1
text-unidecode==1.3
toml==0.10.1
tornado==6.0.4
twilio==6.35.5
urllib3==1.25.9
virtualenv==20.0.18
wcwidth==0.1.9
websockets==8.1
wrapt==1.12.1
yarl==1.4.2
zipp==3.1.0
