{% extends "base.html" %}
{% block title %}Зарегистрироваться{% endblock %}
{% load static %}
{% block content %}
<link rel="stylesheet" href={% static "pages/form.css" %} >
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Сброс пароля</h1>
    </div>
    <div class="form-container">
            <p class="form__info-text">
                Проверьте почту и перейдите по
                ссылке, чтобы создать новый пароль.
            </p>
    </div>

</main>
{% endblock %}