{% extends "base.html" %}
{% block content %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{% if  author.first_name and author.last_name %}{{ author.first_name }} {{ author.last_name }}{% else %}{{ author.username }}{% endif %}</h1>
            <ul class="tags">
                <li class="tags__item">
                    <a id="breakfast" class="tags__checkbox tags__checkbox_style_orange tags__checkbox_active" href="#"></a>
                    <span class="tags__label">Завтрак</span>
                </li>
                <li class="tags__item">
                    <a id="lunch" class="tags__checkbox tags__checkbox_style_green tags__checkbox_active" href="#"></a>
                    <span for="lunch" class="tags__label">Обед</span>
                </li>
                <li class="tags__item">
                    <a id="dinner" class="tags__checkbox tags__checkbox_style_purple tags__checkbox_active" href="#"></a>
                    <label for="dinner" class="tags__label">Ужин</label>
                </li>
            </ul>

        </div>
<!--        <p style="padding: 0 0 2em 0;"><a class="button button_style_light-blue" href="#">Подписаться на автора</a></p>-->
        <div class="author-subscribe" data-author="323">
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
        </div>
             <div class="card-list">
             {% for recipe in page %}
            <div class="card" data-id="{{ recipe.pk }}">
                <a href="{% url 'single_recipe' slug=recipe.slug %}" class="link" target="_blank"><img
                        src="{{ recipe.image.url }}" alt="Статика не смогла загрузиться" class="card__image"></a>
                <div class="card__body">
                    <a class="card__title link" href="{% url 'single_recipe' slug=recipe.slug %}" target="_blank">{{ recipe.title }}</a>
                    <ul class="card__items">
                        {% if 'lunch' in recipe.tag.slugs %}
                        <li class="card__item"><span class="badge badge_style_green">Обед</span></li>
                        {% endif %}
                        {% if 'breakfast' in recipe.tag.slugs %}
                        <li class="card__item"><span class="badge badge_style_orange">Завтрак</span></li>
                        {% endif %}
                        {% if 'dinner' in recipe.tag.slugs %}
                        <li class="card__item"><span class="badge badge_style_purple">Ужин</span></li>
                        {% endif %}
                    </ul>
                    <div class="card__items card__items_column">
                        <p class="card__text"><span class="icon-time"></span> {{ recipe.time }} мин.</p>

                        <p class="card__text"><span class="icon-user"></span> <a href="{% url 'profile' slug=recipe.author.username %}" style="color: black">{{ recipe.author.first_name }} {{ recipe.author.last_name }}</a></p>
                    </div>
                </div>
                <div class="card__footer">
                    <button class="button button_style_light-blue" name="purchases" data-out><span
                            class="icon-plus button__icon"></span>Добавить в покупки
                    </button>
                    <button class="button button_style_none" name="favorites" data-out><span
                            class="icon-favorite"></span></button>
                </div>
            </div>
                {% endfor %}

        </div>

        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}


  <script src="js/components/MainCards.js"></script>

  <script src="js/components/Purchases.js"></script>
  <script src="js/components/Favorites.js"></script>
  <script src="js/components/Subscribe.js"></script>

  <script src="js/config/config.js"></script>
  <script src="js/components/AuthorRecipe.js"></script>
  <script src="js/components/Header.js"></script>

  <script src="js/api/Api.js"></script>
  <script src="authorRecipe.js"></script>

{% endblock %}