{% extends "base.html" %}
{% block title %}Создать рецепт{% endblock %}
{% load static %}
{% block content %}

    <main class="main container">
        <link rel="stylesheet" href={% static "pages/form.css" %}>
        <div class="main__header">
            <h1 class="main__title">{% if not edit %}Создание рецепта {% else %}Редактирование рецепта</h1>
            {% endif %}
        </div>
        <div class="form-container">
            <form class="form" method="post" enctype="multipart/form-data">
                <div class="form__group">
                    {% csrf_token %}
                    <label for="id_title" class="form__label">Название
                        рецепта</label>
                    <div class="form__field-group">
                        <input type="text" id="id_title" name="title"
                               class="form__input" value="{{ form.initial.title }}">
                        <span class="form__error"></span>
                    </div>
                </div>
                <div class="form__group">
                    <p class="form__label">Теги</p>
                    <div class="form__field-group">
                        <div class="tags">
                            <div class="tags__item">
                                <input type="checkbox" name="breakfast" id="id_breakfast"
                                       class="tags__checkbox tags__checkbox_style_orange"
                                       {% if 'breakfast' in tags %}checked {% endif %}>
                                <label for="id_breakfast" class="tags__label">Завтрак</label>
                            </div>
                            <div class="tags__item">
                                <input type="checkbox" name="lunch" id="id_lunch"
                                       class="tags__checkbox tags__checkbox_style_green" {% if 'lunch' in tags %}
                                       checked {% endif %}>
                                <label for="id_lunch" class="tags__label">Обед</label>
                            </div>
                            <div class="tags__item">
                                <input type="checkbox" name="dinner" id="id_dinner"
                                       class="tags__checkbox tags__checkbox_style_purple" {% if 'dinner' in tags %}
                                       checked {% endif %}>
                                <label for="id_dinner" class="tags__label">Ужин</label>
                            </div>

                        </div>
                        <span class="form__error"></span>
                    </div>
                </div>

                <div class="form__group">
                    <label for="nameIngredient"
                           class="form__label">Ингредиент</label>
                    <div class="form__field-group">
                        <div class="form__field-group-ingredientes">
                            <div class="form__dropdown">
                                <input type="text" id="nameIngredient" class="form__input">
                                <div class="form__dropdown-items">
                                    <a class="dropdown-item"></a>
                                </div>
                            </div>
                            <input type="number" id="cantidad"
                                   class="form__input" min="0">
                            <label for="cantidad" class="form__label"
                                   id="cantidadVal"></label>
                            <div class="non-field-errors" style="color: red"></div>
                        </div>
                        <div class="form__field-group-ingredientes-container">
                            {% if edit %}
                                {% for ingredient_item in recipe_ingredients %}
                                    <div class="form__field-item-ingredient" id="ing_{{ ingredient_item.id }}">
                                        <span> {{ ingredient_item.ingredient.name }} {{ ingredient_item.value }}{{ ingredient_item.ingredient.units }} </span>
                                        <span class="form__field-item-delete"></span>
                                        <input id="nameIngredient_{{ ingredient_item.id }}"
                                               name="nameIngredient_{{ ingredient_item.id }}" type="hidden"
                                               value="{{ ingredient_item.ingredient.name }}">
                                        <input id="valueIngredient_{{ ingredient_item.id }}"
                                               name="valueIngredient_{{ ingredient_item.id }}" type="hidden"
                                               value="{{ ingredient_item.value }}">
                                        <input id="unitsIngredient_{{ ingredient_item.id }}"
                                               name="unitsIngredient_{{ ingredient_item.id }}" type="hidden"
                                               value="{{ ingredient_item.ingredient.units }}">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <span class="form__ingredient-link"
                              id="addIng">Добавить Ингредиент</span>
                        <span class="form__error">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            {% if error == 'Необходимо добавить хотя бы один ингредиент' %}
                                <div class="non-field-errors">
                                <p class="form-error">{{ error }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </span>
                    </div>
                </div>


                <div class="form__group">
                    <label for="id_time" class="form__label">Время
                        приготовления</label>
                    <div class="form__field-group form__field-group_time">
                        <input type="text" id="id_time" name="time"
                               class="form__input" value="{{ form.initial.time }}">
                        <label for="id_time" class="form__label">минут</label>
                        <span class="form__error"></span>
                    </div>
                </div>
                <div class="form__group">
                    <label for="id_description" class="form__label">Описание</label>
                    <div class="form__field-group">
                        <textarea name="description" id="id_description" rows="8"
                                  class="form__textarea">{{ form.initial.description }}</textarea>
                        <span class="form__error"></span>
                    </div>
                </div>


                <div class="form__group">
                    <span class="form__label">Загрузить фото</span>
                    {# TODO кажется шаблон не сделан как надо, хз как сделать #}
                    <div class="form__field-group">
                        Сейчас: {{ form.initial.image }}

                        <input type="file" name="image"
                               id="id_file" class="form__file-button">
                        <span class="form__error"></span>
                    </div>
                </div>

                <div class="form__footer">
                    <button class="button button_style_blue">{% if edit %}Сохранить{% else %}Создать
                        рецепт{% endif %}</button> {% if edit %}
                    <a style="margin-left: 2.5em" href="{% url 'delete_recipe' recipe.slug %}"
                       class="form__ingredient-link">Удалить</a>{% endif %}
                </div>

            </form>
        </div>


    </main>

    <script src="{% static 'js/config/config.js' %}"></script>
    <script src="{% static 'js/components/Header.js' %}"></script>
    <script src="{% static 'js/utils/debouncing.js' %}"></script>
    <script src="{% static 'js/api/Api.js' %}"></script>
    <script src="{% static 'formRecipe.js' %}"></script>
    </body>
    </html>
{% endblock %}