<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Page Title{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
</head>
<body>
{% include 'nav.html' %}
<main>
    <div class="container">
        {% block content %}
            <!-- Содержимое страницы -->
        {% endblock content %}
    </div>
</main>
{% include 'footer.html' %}
{% csrf_token %}
{% block js %}

{% endblock js %}


</body>
</html>