{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% load static %}
{% block static %}
{% endblock %}
{% block content %}
    <main class="main container">
        <link rel="stylesheet" href="{% static "/pages/single.css" %}">
        <div class="custom-center-block">
            <p class="custom-text-block">Сутью проекта является создание и хранение рецептов на портале. Дополнительно
                можно скачать список продуктов для покупки, cледить за рецептами друзей и cохранять рецепты в список
                любимых.</p>
        </div>

            <div class="custom-center-block">
            <p class="custom-text-block">Подробнее код можно посмотреть на⠀<a href="https://github.com/Contrigra/foodgram-project">гитхабе проекта</a></p>
        </div>


    </main>

{% endblock %}
