{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% load static %}
{% block static %}
{% endblock %}
{% block content %}
    <main class="main container">
        <link rel="stylesheet" href="{% static "/pages/single.css" %}">

        <div class="single-card__header-info">
            <h1 class="single-card__title">Привет!</h1>
        </div>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Что это за сайт?</h3>
            <p class=" single-card__section-text">Сутью проекта является создание и хранение рецептов на портале.
                Дополнительно можно скачать список продуктов для покупки, cледить за рецептами друзей и cохранять
                рецепты в список
                любимых.</p>
            <p class=" single-card__section-text">Создавайте аккаунт, хоть там и требуется почта, можете
                написать какой хотите, проверки не будет :)</p>


            <div class="single-card__section">
                <h3 class="single-card__section-title">Пару слов от себя</h3>
                <p class=" single-card__section-text">Это выпускной проект Яндекс Практикума. Хоть он и являлся
                    частью курса, создавался он без какой-либо помощи</p>
                <p class=" single-card__section-text">Создавайте аккаунт, хоть там и требуется почта, можете
                    написать какой хотите, проверки не будет :)</p>
                <p class=" single-card__section-text">Кликайте кнопки, заливайте свои рецепты</p>
            </div>
            <p class="custom-text-block">Подписывайтесь на мой⠀<a
                    href="https://github.com/Contrigrat">гитхаб </a></p>
        </div>
        <div class="single-card__section">
            <h3 class="single-card__section-title">Ссылки</h3>
            <p class="single-card__section-text">код проекта находится вот тут⠀<a
                    href="https://github.com/Contrigra/foodgram-project">https://github.com/Contrigra/foodgram-project</a></p>
            <p class=" single-card__section-text">И подписывайтесь на мой⠀<a
                    href="https://github.com/Contrigra/foodgram-project">гитхаб</a></p>
        </div>


    </main>

{% endblock %}
