{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% load static %}
{% block static %}
{% endblock %}
{% block content %}
    <main class="main container">
        <link rel="stylesheet" href="{% static "/pages/single.css" %}">
        <div class="custom-center-block">
            <p class="custom-text-block">Сутью проекта является создание и хранение рецептов на портале. Дополнительно
                можно скачать список продуктов для покупки, cледить за рецептами друзей и cохранять рецепты в список
                любимых.</p>
        </div>
        <div class="custom-center-block">
            <p class="custom-text-block">Подробнее код можно посмотреть на⠀<a
                    href="https://github.com/Contrigra/foodgram-project">гитхабе проекта</a></p>
        </div>

        <div class="single-card__section">
            <h3 class="single-card__section-title">Пару слов от себя</h3>
            <p class=" single-card__section-text">Это выпускной проект Яндекс Практикума. Хоть он и являлся
                частью курса, создавался он без какой-либо помощи</p>
            <p class=" single-card__section-text">Создавайте аккаунт, хоть там и требуется почта, можете
                написать какой хотите, проверки не будет :)</p>
            <p class=" single-card__section-text">Кликайте кнопки, заливайте свои рецепты</p>
        </div>
        <p class="custom-text-block">Подписывайтесь на мой⠀<a
                href="https://github.com/Contrigrat">гитхаб </a></p>
        </div>


    </main>

{% endblock %}
