{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% load static %}
{% block static %}
{% endblock %}
{% block content %}
    <main class="main container">

        <div class="single-card">
            <link rel="stylesheet" href="{% static "/pages/single.css" %}">
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">Привет!</h1>
                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Пару слов от себя</h3>
                    <p class=" single-card__section-text">Это выпускной проект Яндекс Практикума. Хоть он и являлся
                        частью курса, создавался он без какой-либо помощи</p>
                    <p class=" single-card__section-text">Создавайте аккаунт, хоть там и требуется почта, можете
                        написать какой хотите, проверки не будет :)</p>
                    <p class=" single-card__section-text">Кликайте кнопки, заливайте свои рецепты</p>


                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Во время создания сайта у меня многое произошло</h3>
                    <div class="single-card__items single-card__items_column">
                        <p class=" single-card__section-item">Месяц валялся с ковидом</p>
                        <p class=" single-card__section-item">Выгорел</p>
                        <p class=" single-card__section-item">Опять загорелся</p>
                        <p class=" single-card__section-item">Освоил первую самостоятельную тонну документации</p>
                        <p class=" single-card__section-item">Понял, что фронтенд тоже прикольная штука</p>

                    </div>
                </div>


            </div>
        </div>
    </main>

{% endblock %}
