{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% load static %}
{% block static %}
{% endblock %}
{% block content %}
    <main class="main container">
        <link rel="stylesheet" href="{% static "/pages/single.css" %}">
        <div class="single-card__header-info">
            <h1 class="single-card__title">Технологии проекта</h1>
        </div>
        <div class="single-card__section">
            <p class=" single-card__section-text">Python 3.8</p>
            <p class=" single-card__section-text">Django 3.14</p>
            <p class=" single-card__section-text">Nginx</p>
            <p class=" single-card__section-text">Gunicorn</p>
            <p class=" single-card__section-text">SQLite3 в разработке</p>
            <p class=" single-card__section-text">PostgreSQL в продакшене</p>
            <p class=" single-card__section-text">Docker и Docker-compose</p>
            <p class=" single-card__section-text">unicode-slugify для преобразования названий рецептов на русском в
                слаги</p>
            <p class=" single-card__section-text">django-taggit для создания системы фильтрации рецептов</p>
        </div>
    </main>
{% endblock %}
